/* Fix */
img                                     {display: block;font-family: Helvetica, Arial, sans-serif;font-weight: 300;height: auto;line-height: 2;position: relative;text-align: center;width: 100%;}
img:before                              {content: "Bild-Link defekt";display: block;margin-bottom: 10px;}
img:after                               {content: "(url: " attr(src) ")";display: block;font-size: 12px;}
video[autoplay]:not([muted])            {display: none;}
/*Mobile Forms Fix*/
input[type="text"]
input[type="url"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="submit"],
select,
input[type="email"], textarea           {-webkit-appearance: none;-webkit-border-radius: 0;-moz-appearance: none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
input:-webkit-autofill                  {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.ce_gallery.nospacing                   {vertical-align:bottom;font-size:0}
input:focus,
select:focus,
textarea:focus,
button:focus                            {outline: none;}
.ce_form .checkbox                      {-webkit-appearance:normal;}
