/* Forms */
.ce_form .row,.ce_form .select          {}
.ce_form .widget                        {margin-bottom:15px}
.ce_form .label,
.ce_form label                          {}
.ce_form .label,
.ce_form input,
.ce_form select,
.ce_form textarea                       {padding: 5px 14px;border-radius:4px;border:1px solid #ccc;display:block;}
.ce_form input[type="text"],
.ce_form input[type="email"],
.ce_form input#ctrl_website,
.ce_form input[type="password"],
.ce_form input[type="number"],
.ce_form input[type="search"],
.ce_form input[type="tel"],
.ce_form select,
.ce_form textarea                       {width:100%;}
.ce_form textarea                       {resize: vertical;}
.ce_form .small-input                     {display:block;}
.ce_form select                         {padding-right:3.5em;background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;background-size: 5px 5px, 5px 5px, 1px 1.5em;background-repeat: no-repeat;}
.ce_form span.mandatory,
.ce_form span.mandatory a               {}
.ce_form input:focus,
.ce_form input:focus,
.ce_form textarea:focus                 {}
.ce_form fieldset,.ce_form .submit,
.ce_form input[type="submit"]           {border: 1px solid #e2dcd5;background: #efebe5;}
.ce_form .submit,
.ce_form input[type="submit"]           {font-size: 1rem;cursor: pointer;border: 0;-webkit-border-radius: 4;-moz-border-radius: 4; border-radius: 4px;padding: 10px 20px 10px 20px;text-decoration: none;display: inline-block;}
.ce_form .submit:hover,
.ce_form button.submit:hover            {background:#e2dcd5}
.ce_form .submit:focus,
.ce_form button:focus,
.ce_form .submit:active,
.ce_form button:active                  {}
.ce_form .submit_textlink               {background:transparent;border:0}
.ce_form .small-input                   {width:50%}
.ce_form a,.ce_form .submit,
.ce_form input[type="submit"]           {color:#d17a0a;font-family: "atrotissansserifextrabold", Tahoma, sans-serif}
.ce_form .submit_textlink               {background:transparent;border:0}
.ce_form .small-input input,
.ce_form .small-input select,
.ce_form .small-input textarea          {width:50%}
.gdpr label                             {}
#ctrl_notify                            {padding:0}
.large__forms input                     {font-size:2.2rem}
.submit_container                       {margin-top: 2rem}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {opacity: 1;}
