/* Typo */
q                               {display: inline;}
q:after                         {content: '“';}
q:before                        {content: '„';}
p                               {margin:0 0 1rem}
p:last-child                    {margin-bottom: 0}
p a                             {color:#e62e25}
p + h2,
p + h3,
p + h4,
p + h5,
p + h6                          {margin-top: 3rem}
:lang(de)                       {quotes: "„" "“";}

h1,h2,h3,h4,h5,h6,p             {}
h1                              {}
h2                              {}
h3                              {}
h4                              {}
h5                              {}
h6                              {}
